.advantages {
    min-height: 472px;
    background-color: #f6f6f6;
    padding: 69px 0 81px 0;
    &__wrapper {
        display: flex; 
        width: 922px;
        margin: 0 auto;
        margin-top: 65px;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        max-width: 239px;
    }
    &__subtitle {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
    }
    &__descr {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}